<div class="cover-user-show">
  <div class="container">
    <div class="row justify-content-center">
      <h3 class="profile-name"><%= @user.name %></h3>
    </div>
    <div class="row justify-content-center">
      <% @posts.each do |post| %>
      <div class="one-post">
        <%= link_to post_path(post) do %>
        <p class="caption">ユーザ名</p>
        <%= attachment_image_tag post, :image, format: 'jpeg', size: '200x100' %>
        <p class="caption mb-0"><%= post.location %></p>
        <p class="caption"><%= "#{post.comments.count} コメント" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>