<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">旅行投稿一覧</h1>
    </div>
    <div class="row justify-content-center">
      <% @posts.each do |post| %>
      <div class="one-post">
        <%= link_to post_path(post) do %>
        <p class="caption">ユーザ名</p>
        <%= attachment_image_tag post, :image, format: 'jpeg', size: '300x200' %>
        <p class="caption mb-0"><%= post.location %></p>
        <p><%= "#{post.comments.count} コメント" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>